@media screen and (min-width: 480px){
  header{
    width: 100%;
    .contenedor-banner{
      background: red;
    }
  }
}
@media screen and (min-width: 600px){
  body{
    background: green;
  }
}
/*****************min-width: 767px**************/
@media screen and (min-width: 767px){
  body{
    background: blue;
  }
}
/**************** min-width: 950px ************/
@media screen and (min-width: 950px){
  body{
    background: yellow;
  }
}
