@media screen and (min-width: 480px){
  header .contenedor-banner .menu a:hover{
      background: rgb(14,77,80);
  }
}
@media screen and (min-width: 600px){
  /****MAIN***/
  .servicios .contenedor-servicios .servicio{
    width: 43%;
    p{
      width: 100%;
    }
  }
}
/*****************min-width: 767px**************/
@media screen and (min-width: 767px){
  .contenedor-banner{
    margin-top: 40px;
  }
  /****MAIN***/
  .servicios .contenedor-servicios .servicio{
    width: 25%;
  }
  .contenedor-trabajos:hover figure{
    transform:perspective(600px) rotateY(180deg);
  }
  .acerca{
    .titulo{
      width: 100%;
      margin-bottom: 30px;
    }
    .habilidades,.descripcion{
      width: 50%;
    }
  }
  footer .contacto .formulario input[type="text"],
  footer .contacto .formulario input[type="email"]{
    width: 49%;
    margin-bottom: 15px;
  }
}
/**************** min-width: 950px ************/
@media screen and (min-width: 950px){
}
