@media screen and (min-width: 480px){
  body{
    background: red;
  }
  header .contenedor-banner .menu a:hover{
      background: rgb(14,77,80);
  }
}
@media screen and (min-width: 600px){
  body{
    background: green;
  }
  /****HEADER****/
  header{
    .contenedor-banner {
      .menu{
        .menu-contenedor{
          width: 50%;
          justify-content: flex-end;
          &:nth-child(2){
            justify-content: flex-start;
          }
        }
      }
    }
  }
  /****MAIN***/
  .servicios .contenedor-servicios .servicio{
    width: 43%;
    p{
      width: 100%;
    }
  }
}
/*****************min-width: 767px**************/
@media screen and (min-width: 767px){
  body{
    background: blue;
  }
  .contenedor-banner{
    margin-top: 40px;
  }
  /****MAIN***/
  .servicios .contenedor-servicios .servicio{
    width: 25%;
  }
  .contenedor-trabajos:hover figure{
    transform:perspective(600px) rotateY(180deg);
  }
}
/**************** min-width: 950px ************/
@media screen and (min-width: 950px){
  body{
    background: yellow;
  }
}
